GEMINI_API_KEY=
OPENAI_API_KEY=
VOYAGEAI_API_KEY=

# Google Maps API key
GOOGLE_MAPS_API_KEY=

# Wolfram Alpha App ID
WOLFRAM_ALPHA_APP_ID=

# Mojo Portal API Key
MOJO_PORTAL_API_KEY=

BRAVE_SEARCH_API_KEY=